* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: #000;
  color: #e91e63;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  padding: 0 160px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #e91e63;
}

main {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgb(21, 19, 19);
}
.signin-cont {
  padding-top: calc(100vh / 4);
}

@media (max-width: 800px) {
  .App-header {
    padding: 0 10px;
    height: 50px;
  }
}
