.msg-sec {
    display: flex;
    flex-direction: column;
    padding: 10px 160px;
    width: 100%;
    height: calc(100vh - 80px);
  }
  .msg-cont {
    overflow: hidden;
  }
  .msg-form {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
  }