.signout-btn {
    background-color: #E91E63;
    color: #eee;
    font-weight: 500;
    outline: none;
    border: none;
    height: 2rem;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.signout-btn:hover {
    background-color: #ae1448;
}